@model DatabaseImageProject.Models.Entities.Product



<div class="bookcontainer">
    <div class="book">
        <div class="bookpic"
             style="background-image: url('@Model.ProductImage');">
        </div>
        <div class="bookinfo">
            <div class="title">@Model.ProductName</div>
            <div class="price">₺@Model.ProductPrice</div>
            <div class="">ISBN: @Model.ProductId</div>
            <div class="">lorem10</div>
            <form asp-action="Delete" class="">
                <input type="hidden" asp-for="ProductId">
                <input type="submit" value="Delete" class="btn btn-danger deletebutton">
                <a class="btn btn-primary" asp-action="Index">Back to Categories</a>
            </form>
        </div>
    </div>
</div>



