@model DatabaseImageProject.Models.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<small>POP-UP Olarak yapmayı dene</small>

<div class="bookcontainer">
    <div class="book">
        <div class="bookpic"
             style="background-image: url('@Model.ProductImage');">
        </div>
        <div class="bookinfo">
            <div class="title">@Model.ProductName</div>
            <div class="price">₺@Model.ProductPrice</div>
            <div class="">lorem10</div>
            <ul class="controls">
                <li class="control">
                    <a class="" asp-action="Index">
                        <i class="fa-solid fa-backward"></i>
                    </a>
                </li>
                <li class="control">
                    <a class="" asp-action="Edit" asp-route-id="@Model.ProductId">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </li>
                <li class="control">
                    <a class="" asp-action="Delete" asp-route-id="@Model.ProductId">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
