* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    background:
        linear-gradient(limegreen,
            transparent),
        linear-gradient(90deg,
            skyblue,
            transparent),
        linear-gradient(-90deg,
            coral,
            transparent);

    background-blend-mode: screen;

    height: 100%;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #00BFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#icerik {
    display: none;
    position: absolute;
    width: 100px;
    background-color: #B2FFFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 0px;
    align-items: center;
    z-index: 1;
}

#icerik a {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100px;
    padding: 4px 1px;
    margin: 3px 0px;
}

#icerik a:hover {
    border-bottom: 2px solid #00BFFF;
}

.navbar div {
    text-align: center;
    width: 100px;
    cursor: pointer;
    color: white;
    border-bottom: 5px ridge white;
}

.navbar div:hover {
    color: #002244;
    transition: 0.7s ease;
}

#slider {
    margin-top: 25px;
    display: flex;
    justify-content: center;

}

#sliderContainer {
    position: relative;
    height: 20%;
}

.slide {
    display: none;
}

#prevSlide,
#nextSlide {

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    color: white;
    top: 0px;
    font-weight: bold;
    font-size: 30px;
    transition: 500ms ease;
    height: 99%;
    background-color: rgba(150, 139, 184, 0.4);
}

#prevSlide {
    left: 0px;
    border-radius: 0px 5px 5px 0px;
    padding-left: 10px;
    padding-right: 15px;
}

#nextSlide {
    right: 0px;
    border-radius: 5px 0px 0px 5px;
    padding-left: 15px;
    padding-right: 10px;
}

#prevSlide:hover,
#nextSlide:hover {
    background-color: rgba(115, 88, 211, 0.3);

}

#dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(27, 27, 25);
    display: inline-block;
    margin: 5px;
    opacity: 0.6;
    transition: 0.3s ease;
}

.dot:hover,
.active {
    background-color: coral;
    width: 17px;
    height: 17px;
}

#cardContainer {
    margin-top: 25px;
    padding-top: 25px;
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

h2{
    display: flex;
    justify-content: center;
    color:#002244;

}

#cards-1 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 95%;
    background:
        linear-gradient(limegreen,
            transparent),
        linear-gradient(90deg,
            skyblue,
            transparent),
        linear-gradient(-90deg,
            coral,
            transparent);

    background-blend-mode: screen;
    margin-bottom: 25px;
    margin-top: 25px;
}


#card {
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 29%;
    background-color: #303037;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    color: white;
    transition: 0.3s ease;
}

#card:hover {
    box-shadow: 0 5px 10px 0 rgb(37, 146, 189);
    transform: scale(1.03);
}

/* #card:hover{
    box-shadow: 0 5px 10px 0 rgb(37, 146, 189);
    transform: translateY(-1%);
} */

h4 {
    padding-top: 50px;
}

p {
    padding: 25px;
}

button {

    border: none;
    padding: 16px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: #3363ff;
    background-color: #d8e0fd;
    width: 230px;
    transition: 0.5 ease;
}

button:hover {
    background:
        linear-gradient(limegreen,
            transparent),
        linear-gradient(90deg,
            skyblue,
            transparent),
        linear-gradient(-90deg,
            coral,
            transparent);

    background-blend-mode: screen;
}

.main-popup {
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100vw;
    height: 500px;
    display: none;
    z-index: 1;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: auto;
    background:
        linear-gradient(rgb(50, 60, 205),
            transparent),
        linear-gradient(90deg,
            skyblue,
            transparent),
        linear-gradient(-90deg,
            rgb(189, 214, 218),
            transparent);

    background-blend-mode: screen;
    margin: 100px auto;
    padding-top: 45px;
    position: relative;
    border-radius: 5px;
}

.close-popup {

    cursor: pointer;
    text-align: center;
    line-height: 25px;
    color: #E52B50;
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 25px;
}

.close-popup:hover {
    color: #DE3163;
}

.content-popup {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

#popup-icerik {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.popup a {
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.popup a:hover {
    background-color: red;
}

p {
    margin-bottom: 20px;
    font-size: 24px;
}