@{
    ViewData["Title"] = "Home Page";
}


<div class="section-fluid-main">
<div class="section-row">
    <div class="section-col">
        <div class="section">
            <div class="section-in">
                <img src="https://i.pinimg.com/564x/39/2c/cd/392ccd4c97d4c08405f4a8a2d9f7de6e.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="hover-text">
        <h2>The Elephant of Belfast</h2>
    </div>
    <div class="section-col">
        <div class="section">
            <div class="section-in">
                <img src="https://i.pinimg.com/564x/14/b7/19/14b719ec4116ef406b5a3ad25e9ffee2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="hover-text">
        <h2>Choose Me</h2>
    </div>
    <div class="section-col">
        <div class="section">
            <div class="section-in">
                <img src="https://i.pinimg.com/564x/ca/96/a8/ca96a8bb8807ef4698f43452a8fdef97.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="hover-text">
        <h2>A Stranger City</h2>
    </div>
    <div class="section-col">
        <div class="section">
            <div class="section-in">
                <img src="https://i.pinimg.com/564x/ad/02/e1/ad02e140eb8c0dbbfda7216ed2f7fec7.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="hover-text">
        <h2>1984</h2>
    </div>
    <div class="section-col">
        <div class="section">
            <div class="section-in">
                <img src="https://i.pinimg.com/564x/29/f9/9f/29f99fbe531bc876275c54123f14d87b.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="hover-text">
        <h2>The Book of Dust</h2>
    </div>
    <div class="section-col">
        <div class="section">
            <div class="section-in">
                <img src="https://i.pinimg.com/564x/0d/06/15/0d0615d45b14fe4663db14cf377e2943.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="hover-text">
        <h2>Ulysses</h2>
    </div>
</div>
	</div>